{{ partial "header.html" . }}

<section class="main post non-narrow zero-top-spacing">
    <div class="container">
        <div class="content">
            <div class="front-matter">
                <div class="title-container">
                    {{ partial "page-heading" . }}
                </div>
                <div class="meta">
                    <div class="date" title="{{ .Date.Format .Site.Params.dateformfull }}">{{ if eq .Site.Params.lang "pt" }}{{ index ( index $.Site.Data.translations $.Site.LanguageCode ).Weekday ( int ( add ( int ( printf "%0d" .Date.Weekday ) ) 1 ) ) }}, {{ .Date.Day }} de {{ index ( index $.Site.Data.translations $.Site.LanguageCode ).Month ( int (printf "%0d" .Date.Month) ) }} de {{ .Date.Year }}{{else}}{{ .Date.Format .Site.Params.dateform }}{{end}}
                    </div>
                    <div class="reading-time"><div class="middot"></div>{{ if eq 1 .ReadingTime }}{{ .ReadingTime }} {{ ( index $.Site.Data.translations $.Site.LanguageCode ).ReadingTime }}{{ else }}{{ .ReadingTime }} {{ ( index $.Site.Data.translations $.Site.LanguageCode ).ReadingTimeS }}{{ end }}</div>
                </div>
            </div>
            <div class="markdown">
                {{ if .Site.Params.progressively }}
                    {{ .Content | replaceRE "<img src=(.*)\\/(.*) alt=(.*)>" "<figure class=\"progressive\"><img class=\"progressive__img progressive--not-loaded\" data-progressive=$1/high/$2 src=$1/low/$2 alt=$3></figure>" | safeHTML }}
                {{ else }}
                    {{ .Content }}
                {{ end }}
                <br>
                <p><a href="{{ .Section }}">{{ ( index $.Site.Data.translations $.Site.LanguageCode ).Back }}</a></p>
            </div>
            <br>
            <div class="disqus">
                {{ template "_internal/disqus.html" . }}
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
